spring:
  banner:
    location: classpath:banner-dev.txt

server:
  error:
    include-message: always
    include-binding-errors: always
    include-exception: true  

app.eureka-server: localhost

eureka:
  client:
    serviceUrl:
      defaultZone: http://${app.eureka-server}:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

spring.rabbitmq:
  host: 127.0.0.1
  port: 5672
  username: admin
  # Aquí también podrías usar la versión cifrada cuando la generes
  password: admin

management:
  endpoint:
    health:
      show-details: "ALWAYS"
  endpoints:
    web:
      exposure:
        include: "*"

---
spring.config.activate.on-profile: docker

app.eureka-server: eureka-server
spring.rabbitmq.host: rabbitmq
spring.cloud.config.uri: http://config-server:8888
